* {
  box-sizing: border-box;
}

html {
  /*
    background-image: linear-gradient(to right bottom, rgb(204, 214, 223), rgba(255,0,0,0));
    */
}

body {
  padding: 2%;
  border: 2px solid black; */
}

header   {
  //font-family: 'Shojumaru', cursive;
  //font-family: 'Chau Philomene One', sans-serif;
   font-family: 'Signika', sans-serif;
  //font-family: 'Aclonica', sans-serif;
  //font-family: 'Oregano', cursive;
  color: #5F96CD;
  
}

header > .asdf {
  //font-family: 'Fjalla One', sans-serif;
  font-family: 'Signika', sans-serif;
}

.intro-img {
  /* float: right; */
  background-color: aquamarine;
  position: fixed;
  bottom: 0;
  right: 0;
  
}

.browse-cards-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.card {
  width: 18rem;
  flex-basis: auto;
  padding: 10px;
  margin: 8px;
  border: 1px solid red;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  height: 162px;
}

.card-release-date {
  display: inline-block;
  font-size: 12px;
}

.card-title {
  font-family: 'Baloo', cursive;
  height: 18px;
   //font-size: 22px;
}

.details.feature-img {
  float: right;
  width: 33%;
}

.details.feature-img > img {
  max-height: 400px;
}

.trailer {
  clear: right;
}

.app-phase {
  display: none;
}

.toggle__active {
  display: block;
}

.toggle__active.browse-cards-page {
  display: flex;
}

.button-hide {
  display: none;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-to-browse-button {
  width: 130px;
  padding: 15px;
  border: none;
  background-color: #3470AB;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-left: 10%;
  //margin-right: auto;
}

@media screen and (min-width: 400px) {

  .iframe-container iframe{
    width: 65%;
    height: 65%;
  }

}
