* {
  box-sizing: border-box;
}

html {
  background-color: #0D798D;
  /*
    background-image: linear-gradient(to right bottom, rgb(204, 214, 223), rgba(255,0,0,0));
    */
}

body {
  /*
  padding: 1%;
  border: 2px solid black;
  */
}

main, .intro-page {
  margin: 0px 15px 0px 15px;
}

nav {
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
  height: 90px;
  background-color: #B58105;
  text-align: right;
}

nav .nav-title {
  position: relative;
  right: -10%;
  font-family: 'Playball', cursive;
  font-size: 18px;
  margin: 5px 0px 5px 0px;
}

nav ul {
  position: relative;
  bottom: 10px;
  right: 10%;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  background-color: #F4BE40;
  cursor: pointer;
  border-radius: 4px;
}

nav li.nav-home {
  margin-right: 15px;
}

.nav-img {
  position: absolute;
  text-align: right;
  top: 7px;
  right: 19px;
  height: 79px;
  border-radius: 45%;
  display: none;
}

header   {
  font-family: 'Signika', sans-serif;
  color: #294044; 
}

header > h1 {
  color: #1C1F20;
}

.intro-img {
  float: right;
  //position: fixed;
  bottom: 0;
  right: 0;
  
}

.browse-cards-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.card {
  width: 18rem;
  flex-basis: auto;
  padding: 10px;
  margin: 8px;
  border: 2px solid #024A57;
  background-color: #499BAA;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  height: 162px;
}

.card-release-date {
  display: inline-block;
  font-size: 12px;
}

.card-title {
  font-family: 'Baloo', cursive;
  font-size: 18px;
}


.details-float-container {
  overflow: auto;
}

.details.feature-img {
  float: right;
  width: 33%;
  margin-left: 7px;
}

.details.feature-img > img {
  max-height: 400px;
  width: 100%;
}

.trailer {
  clear: right;
}

.app-phase {
  display: none;
}

.toggle__active {
  display: block;
}

.toggle__active.browse-cards-page {
  display: flex;
}

.button-hide {
  display: none;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
.back-to-browse-button {
  width: 130px;
  padding: 15px;
  border: none;
  background-color: #3470AB;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-left: 10%;
  //margin-right: auto;
}
*/

@media screen and (min-width: 425px) {

  .iframe-container iframe {
    width: 65%;
    height: 65%;
  }

  .nav-img {
    display: block;
  }

  nav .nav-title {
    right: 10%;
    font-size: 24px;
  }

  .card-title {
    font-size: 24px;
  }

}